# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo

# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/

# ==========================================
# SQLite
# ==========================================

data/*.db
*.db

# ==========================================
# Reports
# ==========================================

reports/*.csv

# ==========================================
# Logs
# ==========================================

logs/
*.log

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db